#contact {
  background-color: #481e58;
  background-image: linear-gradient(
    135deg,
    #442e59 10%,
    #271241 80%
  );
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: white;

  padding: 20px;
  text-align: center;
  padding-top: 60px;


  .contact-wrapper {
    padding-top: 0px;
  }

  .section-title {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.fleche2 {
  text-align: center;
  padding-top: 20px;
  a {
   color: #481e58;
  }
}

.social-links {
  a {
    color: white;
    padding: 10px;
    font-size: 24px;
  }

  a:hover {
    color: #916dae;
  }
  padding-top: 50px;
  text-align: center;
}
