#projects {
  padding-top: 10px;
  background-color: whitesmoke;


  .section-title {
    text-align: center;
    padding-bottom: 32px;
  }
  padding-bottom: 130px;

  .project-wrapper__image3 {
    .b1 {
      margin-right: 131px;
    }
    .b2 {
      margin-right: 131px;
      }
  }

  .list-job {
    margin: 0;
  }

  .project-wrapper__text-title {
    margin-bottom: 15px;
  }

  .row {
    margin-bottom: 40px;
  }

}


.fleche2 {
  text-align: center;
  padding-top: 10px;
  a {
    color:#481e58 (61, 30, 66, 0.577)
  }
}
