#projects {
  padding-top: 10px;

  .section-title {
    text-align: center;
    padding-bottom: 40px;
  }
  padding-bottom: 130px;
}

.row {
  margin-top: 24px;
}

.fleche2 {
  text-align: center;
  padding-top: 20px;
  a {
    color:#481e58 (61, 30, 66, 0.577)
  }
}
